.blank {
  background: rgb(112, 135, 153);
}

h1 {
  margin: auto 10em;
  font-family: "Times New Roman", serif
}

.blockText {
  margin: 2em auto;
  width: 12em;
  font-family: Helvetica, sans-serif
}

.blockVisNoText {
  display:block;
  margin: 2em auto;
  width: 60%
}

.blockVis {
  display:block;
  margin: 2em auto;
  width: 25%
}
   
