.blank {
  background: rgb(112, 135, 153);
}

h1 {
  margin: auto 10em;
  font-family: "Times New Roman", serif
}

.blockText {
  margin: 2em auto;
  width: 12em;
  font-family: Helvetica, sans-serif
}

.blockVisNoText {
  display:block;
  margin: 2em auto;
  width: 55%
}

.blockVis {
  display:block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  width: 25%
}
   
